<!DOCTYPE html>
<html lang="en">
     <head>
    <meta charset="utf-8">
    <title>The Palindrome Results!</title>
  </head>
  <body>
        <main class = "final">
            {{#if message}}
            <p class="given_string"> Given String : {{string_name}}</p>
            <p class="success"> {{message}} </p>
            {{/if}}


            {{#if error}}
            <p class="given_string"> Given String : {{string_name}}</p>
            <p class="failure"> {{error}} </p>
            {{/if}}

            {{#if string_error}}
            <p class="error">Error : Empty input is invalid.Hence User must have to enter any string as a input to check is it palindrom or not. {{error}} </p>
            {{/if}}

            <p> <a href="http://localhost:3000/">Try another palindrome</a></p>
        </main>
    </body>
</html>